/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
font-size: 14px;
}

ul{
    list-style-type: none;
    margin-bottom: 0em;
}

a{
    color: white;
    text-decoration: none;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a:hover{
text-decoration: none;
color: #cce7f3;
fill: #cce7f3;
}