<nav class="d-flex flex-md-row align-items-center p-2 px-md-4 
mb-3 border-bottom shadow fixed-top justify-content-between">
    <img src="/assets/images/logo.png" style="max-height: 39px;" alt="logo"/>
    <ul class="d-flex menu"> 
        <li><a class="p-2" href="#">Home</a></li>
        <li><a class="p-2" href="#">Shop</a></li>
        <li><a class="p-2" href="#">Contact</a></li>
    </ul> 
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-4 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="p-2" href="#">Login</a>
        <a class="p-2" href="#">Sign up</a>
    </div>
  </nav>